*.tif filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
ATL1415/resources/BRW_template.h5 !filter
*.db filter=lfs diff=lfs merge=lfs -text
masks/EGM2008_geoid_h.nc -filter=lfs -diff=lfs -merge=lfs -text
